<div ng-init="init()">
    <div ng-show="loading || isLoading()" class="billing-loading" ng-include="'partials/loadingView.html'"></div>

    <div class="settings-header">
        Help
    </div>
    <div class="settings-container-list">
        <div class="settings-panel">
            <div class="settings-list">
                <div class="settings-items-wrapper">
                    <div class="settings-list-item">
                        <span class="list-item-cell" style="width: 30%">Support</span>
                        <span class="list-item-cell"><a href="http://support.arlo.com/?utm_source=app_desktop" target="_blank" class="helpPageLink arlo-link">support.arlo.com</a></span>
                    </div>
                    <div class="settings-list-item">
                        <span class="list-item-cell" style="width: 30%">Community</span>
                        <span class="list-item-cell"><a href="https://community.netgear.com/?utm_source=app_desktop" target="_blank" class="comunityPageLink arlo-link">community.arlo.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>